@import '../../styles/config';

.portfolio {
  display: flex;
  flex-wrap: wrap;
  min-height: 80vh;
  align-items: center;
}
.project {
  padding: 10px;
}
.container {
  align-self: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.img-box {
  position: relative;
  margin-bottom: 10px;

  h1 {
    align-self: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    padding: 70px;
  }
}
.img-box:hover h1 {
  display: none;
}
.clip {
  height: 280px;
  position: relative;
  width: 300px;
  opacity: 0.05;
  object-fit: none;
  transition: 0.3s;
}
.clip:hover {
  opacity: 0.9;
  transform: scale(0.8);
}
.links {
  a {
    padding: 8px;
    text-decoration: none;
    cursor: pointer;
    font-size: 20px;
    margin: 3px;
  }
}
