$app-bg-light: #ececec;
$background-light: white;
$header-light: #ececec;
$footer-light: #ececec;
$links-light: #81929e;
$hover-light: black;
$text-light: black;
$box-shadow-light: 10px 10px 10px rgba(0, 0, 0, 0.15);
$contact-form-light: #ececec;
$port-imgbox-light: #ececec;
$skills-container-light: #ececec;

$app-bg-dark: #121212;
$background-dark: #1b1b1b;
$header-dark: #121212;
$footer-dark: #121212;
$links-dark: white;
$hover-dark: #81929e;
$text-dark: white;
$box-shadow-dark: 10px 10px 10px rgba(0, 0, 0, 0.15);
$contact-form-dark: #ececec;
$port-imgbox-dark: #ececec;
$skills-container-dark: #ececec;
