$app-bg-light: #ececec;
$background-light: white;
$header-light: #ececec;
$footer-light: #ececec;
$links-light: #81929e;
$hover-light: black;
$text-light: black;
$box-shadow-light: 10px 10px 10px rgba(0, 0, 0, 0.15);
$contact-form-light: #ececec9a;
$port-imgbox-light: #ececec9a;
$skills-container-light: #ececec9a;
$about-border-light: 10px solid #81929eb0;
$about-img-light: #ececec;

$app-bg-dark: #14171a;
$background-dark: #040405c4;
$header-dark: #14171a;
$footer-dark: #14171a;
$links-dark: rgba(255, 255, 255, 0.562);
$hover-dark: white;
$text-dark: rgba(255, 255, 255, 0.712);
$box-shadow-dark: 10px 10px 10px rgba(0, 0, 0, 0.15);
$contact-form-dark: #14171a9c;
$port-imgbox-dark: #14171a9c;
$skills-container-dark: #14171a9c;
$about-img-dark: #14171a9d;
$about-border-dark: 10px solid #81929e;
