$app-bg-light: #ececec;
$background-light: white;
$header-light: #ececec;
$footer-light: #ececec;
$links-light: #81929e;
$hover-light: black;
$text-light: black;
$box-shadow-light: 10px 10px 10px rgba(0, 0, 0, 0.15);
$contact-form-light: #ececec9a;
$port-imgbox-light: #ececec9a;
$skills-container-light: #ececec9a;
$about-border-light: 10px solid #81929eb0;
$about-img-light: #ececec;

$app-bg-dark: #060708;
$background-dark: #11151a;
$header-dark: #060708;
$footer-dark: #060708;
$links-dark: #333333;
$hover-dark: rgba(255, 255, 255, 0.712);
$text-dark: rgba(255, 255, 255, 0.712);
$box-shadow-dark: 10px 10px 10px rgba(0, 0, 0, 0.15);
$contact-form-dark: #001a33;
$port-imgbox-dark: #001a33;
$skills-container-dark: #121212;
$about-img-dark: #060708;
$about-border-dark: 10px solid white;
