.about {
  height: 80vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  .pic {
    position: relative;
    width: 660px;
    height: 80vh;
    background: url(../assets/images/me.png) no-repeat center;
    -webkit-filter: grayscale(45%);
    filter: grayscale(55%);
    opacity: 0.25;
  }
  .about-text {
    align-self: center;
    height: 20%;
    right: 150px;
    position: absolute;
  }
  .title {
    position: absolute;
    bottom: 100px;
    left: 200px;
    height: 220px;
    background-color: #ececec;
    border-radius: 1%;
    padding: 50px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.53);
  }
  .title h1 {
    font-size: 60px;
  }
  .title p {
    font-size: 25px;
  }
}
