@import 'config';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  // background-color: $app-bg-light;
  background-color: #ececec;
}
.main-content {
  height: 100vh;
  width: 90%;
  text-align: center;
  margin: auto;
  background-color: white;
  color: black;
  position: relative;
  // background-color: $background-light;
  // color: $text-light-mode;
}
