@import 'config';

.header {
  height: 10vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: sticky;
  ul {
    width: 100%;
    align-self: center;
    list-style-type: none;
  }
  li {
    width: 100%;
    display: inline;
    font-size: 20px;
    color: #81929e;
  }
  li span {
    padding: 10px;
    text-align: center;
  }
  li span:hover {
    font-size: 20px;
    color: $icon-hover-light;
    cursor: pointer;
  }
}
