@import 'config';

.page {
  height: 80vh;
  width: 100%;
  line-height: 1.5;
}
.about {
  height: 80vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  .pic {
    position: relative;
    width: 550px;
    height: 600px;
    border-radius: 30%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.08), rgba(0, 0, 0, 0.08)),
      url(../assets/images/me.png);
  }
  .circle {
    position: absolute;
    width: 500px;
    height: 500px;
    border-radius: 30%;
    background-color: rgba(0, 0, 0, 0.08);
    margin-left: 300px;
  }
  .about-text {
    padding-left: 50px;
    align-self: center;
    height: 70%;
  }
  .toggle {
    font-size: 40px;
    margin-top: 50px;
  }
  .overlay {
    width: 85%;
    height: 20px;
    margin-top: 20px;
    background-color: #284b63;
  }
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  .img-box {
    margin: 50px;
    justify-content: space-between;
  }
  img {
    width: 450px;
    height: 250px;
    object-fit: cover;
    padding: 20px;
  }
}
