@import 'config';

.page {
  height: 80vh;
  width: 100%;
}
.about {
  height: 80vh;
  width: 90vw;
  display: flex;
  flex-direction: row;
  position: absolute;
}
.my-img {
  height: 80vh;
  position: absolute;
  border-right: 3px solid #284b63;
}
.overlay {
  margin-top: 200px;
  height: 350px;
  width: 100%;
  background-color: black;
  opacity: 0.2;
  position: relative;
}
.greeting {
  height: 50%;
  margin-top: 100px;
  width: 50%;
  background-color: #d9d9d9;
  border: 3px #284b63 solid;
  border-radius: 1%;
  position: absolute;
  margin-left: 500px;
  justify-content: center;
  align-items: center;
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  .img-box {
    margin: 50px;
    justify-content: space-between;
  }
  img {
    width: 450px;
    height: 250px;
    object-fit: cover;
    padding: 20px;
  }
}
