.skills {
  height: 80vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;

  .container {
    height: 450px;
    width: 300px;
    background-color: #ececec;
    display: flex;
    flex-wrap: wrap;
    margin: 30px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.39);
  }
  .top {
    width: 100%;
    font-size: 50px;
    align-self: center;
  }
}
