.skills {
  min-height: 80vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;

  .container {
    height: 400px;
    width: 250px;
    margin: 30px;
    transition: 0.2s;
    padding: 20px;
  }
  .top {
    width: 100%;
    font-size: 50px;
    align-self: center;
  }
  .container:hover {
    transform: translateY(-8%);
  }
}
