.about {
  height: 80vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  .pic {
    position: relative;
    width: 700px;
    height: 80vh;
    background: url(../../assets/images/me.png) no-repeat center;
    -webkit-filter: grayscale(45%);
    filter: grayscale(45%);
    opacity: 0.22;
    right: 10px;
  }
  .about-text {
    align-self: center;
    height: 20%;
    right: 150px;
    position: absolute;
  }
  .title {
    position: absolute;
    height: 30vh;
    background-color: #ececec;
    padding: 30px;
    bottom: 10px;
    left: 50px;
  }
  .title h1 {
    font-size: 60px;
  }
  .title p {
    font-size: 25px;
  }
}
