.about {
  height: 80vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;

  .img-container {
    background-image: url(../../assets/images/me.png);
    height: 500px;
    width: 400px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.15);
    border-radius: 3%;
    filter: grayscale(20%);
    // opacity: 0.75;
  }
  .text-container {
    align-self: center;
    line-height: 2;
    padding: 10px;
    padding-left: 20px;
    font-size: 20px;
  }
  p {
    margin-bottom: 7px;
  }
  h2 {
    padding: 5px;
  }
}
