.contact-container {
  height: 80vh;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;

  h1 {
    width: 100%;
    font-size: 40px;
  }
  .form {
    height: 70%;
    width: 100vh;
    align-self: center;
    padding: 15px;
    border-radius: 1%;
  }
  .contact-input {
    padding: 5px;
    margin: 5px;
  }
  .input-field {
    width: 80%;
    padding: 10px;
    opacity: 0.8;
  }
  .btn {
    margin: 8px;
    padding: 8px;
    cursor: pointer;
  }
}
