.footer {
  height: 10vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: fixed;
  justify-content: center;
  align-items: center;

  .icons {
    align-self: center;
    list-style-type: none;
  }
  .single-icon {
    padding: 5px;
    font-size: 45px;
  }
  .single-icon:hover {
    font-size: 50px;
    cursor: pointer;
  }
}
